@import "normalize.css";
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:300,500,700);

html, body {
  font-family: 'Source Code Pro', Arial, sans;
  font-weight: 500;
  color : rgb(32, 32, 32);
  background-color: rgb(207, 207, 207);
}

body {
  overflow-x: hidden;
}

#scene {
  width: 100%;
  height: 100%;
  border: 1px solid rgb(180, 180, 180);
  overflow: hidden;
  background-color: rgb(207, 207, 207);
}

#scene canvas {
  background-color: rgb(207, 207, 207);
}
